body
{
  width: 80%;
  margin: 0 auto;
  outline: 5px auto #78BB01;
  font-family: Arial, Helvetica, sans-serif;
}

.container
{
  display: grid;
  background-color: #ffffff;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
  grid-template-areas: "header header header"
                       "main main main"
                       "footer footer footer"
}
.error
{
  color: red;
}

/* EN TETE*/
header
{
  display: grid;
  grid-area: header;
  text-align: center;
  padding: 30px 0;
  background-color : #1c3752;;
  border: 3px #78BB01 solid;
  grid-gap: 10px;
    grid-template-columns: 150px 600px 250px;
    grid-template-areas:
        "titre titre titre"

}

.header-titre
{
  grid-area: titre;
}
.header-titre .titre, 
.header-titre .st 
{
  color: white;
  margin: 7px auto;
}
/* MAIN */
.formulaire
{
  margin:20px;
  padding:10px;
  align-items: center;
}
.form-error
{
  color: red;
  margin:auto;
  padding:auto;
  align-items: center;
}
.submitted
{
  margin:20px;
  padding:10px;
  align-items: center;
}
/* .submitted p
{
  color: #78BB01;
  font-weight: 300px;
} */
.submitted a
{
  color: #1c3752;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.submitted a:hover
{
  color: #78BB01;
  text-decoration: underline;
}
table 
{
  background-color: white;
  border-collapse:collapse;
  margin:auto;
  width: 110%;
}

th 
{
  padding:5px;
  background-color:#ffffff;
  width:25%;
  height: 100%;
}
.tab-visible 
{
  font-size:80%;
  /* border:2px solid gray; */
  padding:5px;
  text-align:center;
}

.form-titre
{
  color: #1c3752;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  display: block;
  margin: 10px 0;
}
.form-champs
{
  width: 50%;
  height: 18px;
  border: solid 2px #78BB01;
  border-radius: 8px;
  padding-left: 20px;
  background: #ffffff.
}
#btn-calcul
{
  background-color: #1c3752;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  height: 30px;
  width: 50%;
  margin: 0 0 6px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}
#btn-calcul:hover
{
  background-color: #78BB01;
  color: #ffffff;
  cursor: pointer;
}

/* FOOTER */    
footer
{
  grid-area: footer;
  background-color: #1c3752;
  border: 3px #78BB01 solid;
  text-align: center;
  text-align-last: center;
  font-style: italic;
  color: #edebcf;
}
